.container {
  margin: 0 auto;
  padding: 2.5rem 2rem;
}

.container > img {
  margin-bottom: 5.625rem;
}

.container h1 {
  font-weight: 600;
  font-size: 2.25rem;
  color: var(--white);
  margin-bottom: 1.5rem;
}

.container div {
  font-weight: 500;
  font-size: 1.25rem;
  color: #b2b9ff;
  display: flex;
  margin-bottom: 2.5rem;
  max-width: 75%;
}

.container div img {
    margin-right: 1.5rem;
}

.container form {
    font-weight: 400;
    font-size: 1.25rem;
    color: #b2b9ff;
}

.container form input {
    height: 5rem;
    background: linear-gradient(90deg, #4953B8 0%, rgba(73, 83, 184, 0.2) 100%);
    border: 0;
    border-radius: 5px 0px 0px 5px;
    padding: 15px;
}

.container form button {
    height: 5rem;
}
